<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
    <link rel="stylesheet" type="text/css" href="site.css" />
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="vue.js"></script>
    <title></title>
  </head>
  <body>


    <div id="app">
    <input type="text" v-on:input="changeTitle">
    <h1 v-once>{{ noChangeOfHeading() }}</h1>
    <h4>
     {{ title }} - <a v-bind:href="link" target="_blank">Google</a>
   </h4>
   <p>
     {{ sayHello() }}
   </p>
   <p>
     {{ firstGreeting() }}
   </p>
   <h4 v-html='finishedLink' target="_blank"></h4>

    <button v-on:click='increase'>Click me &#8593;</button>
    <button v-on:click='counter++'>Click me &#8593;</button>
     <p>{{ counter*2 }}</p>
     <p>{{ counter*2 > 10 ? 'Greater than 10' : 'Smaller than or equal to 10' }}</p>
     <hr />

     <p v-on:mousemove="updateCoordinates">Coordinates: {{ x }} / {{ y }} - <span v-on:mousemove.stop="">DEAD SPOT</span>
      </p>
     <!-- mousemove.stop; stop is a specific event that unable coordinates when hovering over DEAD SPOT -->
     <button v-on:click='decrease(2)'>Click me &#8595;</button>
      <p>{{ number }}</p>

      <input type="text" v-on:keyup.enter.space="alertMe" placeholder="type to alert"/>
      <br /><br /><br />

      <input type="text" v-model="name" placeholder="two-way binding/update"/>
      <p>{{ name }}</p>
      <hr />


      <button v-on:click="newcounter++">Increase</button>
      <button v-on:click="newcounter--">Decrease</button>
      <button v-on:click="secondCounter++">Increase Second</button>
      <p>Counter: {{ newcounter }} | {{ secondCounter }}</p>
      <p>Result: {{ result }} | {{ output }}</p>
      <hr />

      <button @click="changeLink">Click to Change Link</button>
      <a :href="newLink">Link</a><hr />


      <div class="demoContainer">
      <div class="demo" @click="attachRed = !attachRed" :class="divClasses">Box1</div>
      <div class="demo" :class="{red : attachRed}">Box2</div>
      <div class="demo" @click="attachBlue = !attachBlue" :class="{blue : attachBlue}">Box3</div>
      <div class="demo" @click="attachGreen = !attachGreen" :class="{green : attachGreen}">Box4</div>
      <div class="demo" :class="[color, {red: attachRed}]">Box5</div>
      <input class="colorInput" type="text" v-model="color" placeholder="Type your color for Box5"/>
      <div class="demo" :style="{backgroundColor: color2}">Box6</div>
      <div class="demo" :style="myStyle">Box7</div>
      <div class="demo" :style="[myStyle, {height: width + 'px'}]">Box8</div>
      <input class="colorInput" type="text" v-model="color2" placeholder="Type your color for Box6"/>
      <input class="colorInput" type="text" v-model="width" placeholder="Type a width for Box7"/>
      </div><hr />


      <div class="conditionDiv">
        <p class="conditionText" v-if="show">You can see me!</p>
        <p class="conditionText" v-else="show">Now you see me!</p>
        <p class="conditionText" v-show="show">Do you also see me?</p>
       <template v-if="show">
         <h2 class="conditionText">Heading</h2>
         <p class="conditionText">Inside template tag</p>
       </template>
        <button class="conditionText" @click="show = !show">Switch</button>
      </div>



    </div>

   <!-- el: Connect to DOM -->
   <!-- data: Store Data to be used -->
   <!-- methods: Methods of this Vue Instance / functions -->
   <!-- watch: Execute code upon data changes -->

    <script>
    new Vue({
        el: '#app',
        data: {
          heading: "Let's practice Vue.js",
          title: 'Hello World!',
          link: 'http://google.com',
          message: 'Greetings',
          finishedLink: 'Search your video on <a href="http://youtube.com">Youtube</a>',
          counter: 0,
          x: 0,
          y: 0,
          number: 100,
          name: 'John Doe',
          // result: '',
          secondCounter: 0,
          newcounter: 0,
          newLink: 'http://amazon.com',
          color: '',
          attachRed: false,
          attachBlue: false,
          attachGreen: false,
          color2: 'gray',
          width: 100,
          show: true

        },
        computed: {
          output: function() {
            // console.log('Computed');
            return this.newcounter > 5 ? 'Greater than 5' : 'Smaller than 5';
          },
          divClasses: function(){
            return {
              red: this.attachRed,
              yellow: !this.attachRed
            }
          },
          myStyle: function(){
            return {
              backgroundColor: this.color2,
              width: this.width + 'px'
            }
          }
        },
        watch: {
          newcounter: function(value) {
            let vm = this;
            setTimeout(function() {
              vm.newcounter = 0;
            },2000)
          }
        },
        methods: {
          noChangeOfHeading: function(){
            this.title = 'Learn Vue.js';
            return this.heading;
          },
          changeTitle: function(event) {
            this.title = event.target.value;
          },
          sayHello: function() {
          return 'How is everything going?';
        },
          firstGreeting: function() {
            return this.message;
          },
          increase: function() {
            this.counter++;
          },
          updateCoordinates: function(event) {
            this.x = event.clientX;
            this.y = event.clientY;
          },
          decrease: function(step){
            this.number -= step
          },
          alertMe: function(){
            alert('Alert!');
          },
          result: function() {
            return this.newcounter > 5 ? 'Greater than 5' : 'Smaller than 5';
          },
          changeLink: function() {
            this.newLink = 'https://www.apple.com/'
          }
        }
      });
    </script>

  </body>
</html>
