.red{
  background-color: red;

}
.green{
  background-color: green;
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
.demo{
  height: 80px;
  width: 80px;
  margin-left: 5px;
  border-style: solid;
}
.demoContainer{
  display: flex;
}
.colorInput{
 border-style: solid;
 height: 2rem;
 width: 8.5rem;
}
.conditionDiv{
  display: flex;
  flex-direction: row;
}
.conditionText{
  margin-left: 16px;
}
