.red{
  background-color: red;

}
.green{
  background-color: green;
}
.blue{
  background-color: blue;
}
.demo{
  height: 80px;
  width: 80px;
  border-style: solid;
}
.demoContainer{
  display: flex;
}
